.bg-primary {
  background-color: #6018bc !important;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  background-color: #1636a9;
  border-color: #1636a9;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  background-color: #1636a9;
  border-color: #1636a9;
}

.btn-check:checked + .btn-primary, .btn-check:active + .btn-primary, .btn-primary:active, .btn-primary.active, .show > .btn-primary.dropdown-toggle {
  color: #000;
  background-color: #1636a9;
  border-color: #1636a4;
}

